.button {
  @include flex();
  font-size: $paragraph-md;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: $radius-md;
  &:hover:not(:disabled) {
    filter: brightness(105%);
  }
  &__primary {
    background-color: $primary;
    color: $white;
  }
  &__secondary {
    background-color: $secondary;
  }
  &__outline {
    background-color: transparent;
    border: 2px solid $primary;
    color: $primary;
  }
  &__ghost {
    background-color: transparent;
  }
  &:disabled {
    @include disabled();
  }
  &__small {
    font-size: $paragraph-sm;
    font-weight: normal;
    padding: 8px 16px;
    border-radius: $radius-sm;
  }
}
