// colors
$primary: #e56e1a;
$secondary: #ece4de;
$black: #000;
$white: #fff;
$bg: $white;
$primary-dark: #e56e1a;
$secondary-dark: #473324;
$bg-dark: #211712;
$decorator: #8d6e54;

// font
$font: Montserrat, sans-serif;
$paragraph-sm: 12px;
$paragraph-md: 16px;
$paragraph-lg: 18px;
$heading-sm: 18px;
$heading-md: 22px;
$heading-lg: 26px;
$caption: 12px;

// misc
$radius-md: 12px;
$radius-sm: 8px;

// cards
$card-height: 20rem;
$card-width: 15rem;
$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
$box-shadow-hover: 2px 2px 5px rgba(0, 0, 0, 0.5);
$transition: 0.5s;
$transition-fast: 0.2s;

// distances
$sm: 16px;
$md: 24px;
$lg: 56px;
