// colors

$primary: #e56e1a;
$secondary: #ece4de;
$black: #000;
$white: #fff;
$bg: $white;
$primary-dark: #e56e1a;
$secondary-dark: #473324;
$bg-dark: #211712;

// font

$font: Montserrat, sans-serif;
$font-md: 16px;
$font-lg: 22px;

// misc

$radius-md: 12px;
